-- MySQL dump 10.13  Distrib 8.0.43, for Linux (x86_64)
--
-- Host: localhost    Database: futura
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `action` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `module` enum('Competency Leveling','IDP','System') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `details` text COLLATE utf8mb4_unicode_ci,
  `ip_address` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_audit_logs_user` (`user_id`),
  CONSTRAINT `fk_audit_logs_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cl_approvals`
--

DROP TABLE IF EXISTS `cl_approvals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cl_approvals` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cl_header_id` int NOT NULL,
  `approver_id` int NOT NULL,
  `role` enum('AM','Employee','HR') NOT NULL,
  `action` enum('Pending','Approved','Returned') DEFAULT 'Pending',
  `remarks` text,
  `reviewed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cl_header_id` (`cl_header_id`,`approver_id`,`role`),
  KEY `approver_id` (`approver_id`),
  CONSTRAINT `cl_approvals_ibfk_1` FOREIGN KEY (`cl_header_id`) REFERENCES `cl_headers` (`id`) ON DELETE CASCADE,
  CONSTRAINT `cl_approvals_ibfk_2` FOREIGN KEY (`approver_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cl_approvals`
--

LOCK TABLES `cl_approvals` WRITE;
/*!40000 ALTER TABLE `cl_approvals` DISABLE KEYS */;
/*!40000 ALTER TABLE `cl_approvals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cl_employee_logs`
--

DROP TABLE IF EXISTS `cl_employee_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cl_employee_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cl_id` int NOT NULL,
  `employee_id` int NOT NULL,
  `action` enum('APPROVED','RETURNED') NOT NULL,
  `remarks` text,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `cl_employee_logs_ibfk_1` (`cl_id`),
  KEY `cl_employee_logs_ibfk_2` (`employee_id`),
  CONSTRAINT `cl_employee_logs_ibfk_1` FOREIGN KEY (`cl_id`) REFERENCES `cl_headers` (`id`),
  CONSTRAINT `cl_employee_logs_ibfk_2` FOREIGN KEY (`employee_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cl_employee_logs`
--

LOCK TABLES `cl_employee_logs` WRITE;
/*!40000 ALTER TABLE `cl_employee_logs` DISABLE KEYS */;
INSERT INTO `cl_employee_logs` VALUES (1,61,9,'RETURNED','xz','2025-12-11 12:19:06'),(2,61,9,'RETURNED','sdsd','2025-12-11 12:19:33');
/*!40000 ALTER TABLE `cl_employee_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cl_headers`
--

DROP TABLE IF EXISTS `cl_headers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cl_headers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` int NOT NULL,
  `supervisor_id` int NOT NULL,
  `department_id` int NOT NULL,
  `cycle_id` int NOT NULL,
  `status` enum('DRAFT','PENDING_AM','PENDING_EMPLOYEE','PENDING_HR','PENDING_MANAGER','APPROVED','REJECTED') DEFAULT 'DRAFT',
  `has_assistant_manager` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `awaiting_approval_from` varchar(50) DEFAULT NULL,
  `supervisor_remarks` text,
  `am_remarks` text,
  `manager_remarks` text,
  `employee_remarks` text,
  `hr_remarks` text,
  `manager_id` int DEFAULT NULL,
  `manager_decision` enum('APPROVED','RETURNED') DEFAULT NULL,
  `manager_decided_at` datetime DEFAULT NULL,
  `hr_id` int DEFAULT NULL,
  `hr_decision` enum('APPROVED','RETURNED') DEFAULT NULL,
  `hr_decided_at` datetime DEFAULT NULL,
  `employee_decision` enum('APPROVED','RETURNED') DEFAULT NULL,
  `employee_decided_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `employee_id` (`employee_id`),
  KEY `department_id` (`department_id`),
  KEY `cycle_id` (`cycle_id`),
  KEY `supervisor_id` (`supervisor_id`),
  KEY `status` (`status`),
  KEY `fk_cl_headers_manager` (`manager_id`),
  KEY `fk_cl_headers_hr` (`hr_id`),
  CONSTRAINT `cl_headers_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `users` (`id`),
  CONSTRAINT `cl_headers_ibfk_2` FOREIGN KEY (`supervisor_id`) REFERENCES `users` (`id`),
  CONSTRAINT `cl_headers_ibfk_3` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`),
  CONSTRAINT `cl_headers_ibfk_4` FOREIGN KEY (`cycle_id`) REFERENCES `cycles` (`id`),
  CONSTRAINT `fk_cl_headers_hr` FOREIGN KEY (`hr_id`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_cl_headers_manager` FOREIGN KEY (`manager_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cl_headers`
--

LOCK TABLES `cl_headers` WRITE;
/*!40000 ALTER TABLE `cl_headers` DISABLE KEYS */;
/*!40000 ALTER TABLE `cl_headers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cl_hr_logs`
--

DROP TABLE IF EXISTS `cl_hr_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cl_hr_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cl_id` int NOT NULL,
  `hr_id` int NOT NULL,
  `action` enum('APPROVED','RETURNED') NOT NULL,
  `remarks` text,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `cl_hr_logs_ibfk_1` (`cl_id`),
  KEY `cl_hr_logs_ibfk_2` (`hr_id`),
  CONSTRAINT `cl_hr_logs_ibfk_1` FOREIGN KEY (`cl_id`) REFERENCES `cl_headers` (`id`),
  CONSTRAINT `cl_hr_logs_ibfk_2` FOREIGN KEY (`hr_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cl_hr_logs`
--

LOCK TABLES `cl_hr_logs` WRITE;
/*!40000 ALTER TABLE `cl_hr_logs` DISABLE KEYS */;
INSERT INTO `cl_hr_logs` VALUES (1,52,7,'APPROVED','sdss','2025-12-12 05:13:22');
/*!40000 ALTER TABLE `cl_hr_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cl_items`
--

DROP TABLE IF EXISTS `cl_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cl_items` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cl_header_id` int NOT NULL,
  `competency_id` int NOT NULL,
  `mplr_level` int DEFAULT NULL,
  `assigned_level` int DEFAULT NULL,
  `weight` decimal(5,2) DEFAULT '0.00',
  `justification` text,
  `score` decimal(10,2) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `pdf_path` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cl_header_id` (`cl_header_id`),
  KEY `competency_id` (`competency_id`),
  CONSTRAINT `cl_items_ibfk_1` FOREIGN KEY (`cl_header_id`) REFERENCES `cl_headers` (`id`) ON DELETE CASCADE,
  CONSTRAINT `cl_items_ibfk_2` FOREIGN KEY (`competency_id`) REFERENCES `competencies` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=273 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cl_items`
--

LOCK TABLES `cl_items` WRITE;
/*!40000 ALTER TABLE `cl_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `cl_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cl_manager_logs`
--

DROP TABLE IF EXISTS `cl_manager_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cl_manager_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cl_id` int NOT NULL,
  `manager_id` int NOT NULL,
  `action` enum('APPROVED','RETURNED') NOT NULL,
  `remarks` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `cl_id` (`cl_id`),
  CONSTRAINT `cl_manager_logs_ibfk_1` FOREIGN KEY (`cl_id`) REFERENCES `cl_headers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cl_manager_logs`
--

LOCK TABLES `cl_manager_logs` WRITE;
/*!40000 ALTER TABLE `cl_manager_logs` DISABLE KEYS */;
INSERT INTO `cl_manager_logs` VALUES (1,58,6,'RETURNED','this is manager for testing','2025-12-11 11:27:38'),(2,58,6,'RETURNED','df','2025-12-11 11:28:23'),(3,58,6,'APPROVED',NULL,'2025-12-11 11:29:01'),(4,60,6,'APPROVED',NULL,'2025-12-11 11:40:36'),(5,61,6,'APPROVED',NULL,'2025-12-11 12:04:20'),(6,62,6,'RETURNED','h','2025-12-12 07:15:31');
/*!40000 ALTER TABLE `cl_manager_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cl_submissions`
--

DROP TABLE IF EXISTS `cl_submissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cl_submissions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` int NOT NULL,
  `supervisor_id` int NOT NULL,
  `total_score` decimal(5,2) DEFAULT NULL,
  `submitted_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `status` enum('Pending','AM_Review','Manager_Review','Approved','Rejected') COLLATE utf8mb4_unicode_ci DEFAULT 'Pending',
  `notes` text COLLATE utf8mb4_unicode_ci,
  `remarks` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `fk_cl_sub_employee` (`employee_id`),
  KEY `fk_cl_sub_supervisor` (`supervisor_id`),
  CONSTRAINT `fk_cl_sub_employee` FOREIGN KEY (`employee_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_cl_sub_supervisor` FOREIGN KEY (`supervisor_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cl_submissions`
--

LOCK TABLES `cl_submissions` WRITE;
/*!40000 ALTER TABLE `cl_submissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `cl_submissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `competencies`
--

DROP TABLE IF EXISTS `competencies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `competencies` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `competency_area` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `category` enum('Technical Skill','Leadership') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `competencies`
--

LOCK TABLES `competencies` WRITE;
/*!40000 ALTER TABLE `competencies` DISABLE KEYS */;
/*!40000 ALTER TABLE `competencies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `competency_approvals`
--

DROP TABLE IF EXISTS `competency_approvals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `competency_approvals` (
  `id` int NOT NULL AUTO_INCREMENT,
  `leveling_id` int NOT NULL,
  `approver_id` int NOT NULL,
  `role` enum('Supervisor','AM','Manager','Employee','HR') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` enum('Approved','Rejected','Pending') COLLATE utf8mb4_unicode_ci DEFAULT 'Pending',
  `remarks` text COLLATE utf8mb4_unicode_ci,
  `approved_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_comp_approvals_leveling` (`leveling_id`),
  KEY `fk_comp_approvals_approver` (`approver_id`),
  CONSTRAINT `fk_comp_approvals_approver` FOREIGN KEY (`approver_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_comp_approvals_leveling` FOREIGN KEY (`leveling_id`) REFERENCES `competency_leveling` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `competency_approvals`
--

LOCK TABLES `competency_approvals` WRITE;
/*!40000 ALTER TABLE `competency_approvals` DISABLE KEYS */;
/*!40000 ALTER TABLE `competency_approvals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `competency_leveling`
--

DROP TABLE IF EXISTS `competency_leveling`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `competency_leveling` (
  `id` int NOT NULL AUTO_INCREMENT,
  `submission_id` int DEFAULT NULL,
  `employee_id` int NOT NULL,
  `supervisor_id` int NOT NULL,
  `competency_id` int NOT NULL,
  `level` int DEFAULT NULL,
  `justification` text COLLATE utf8mb4_unicode_ci,
  `mplr` int DEFAULT NULL,
  `status` enum('Pending','Approved','Rejected','Locked') COLLATE utf8mb4_unicode_ci DEFAULT 'Pending',
  `final_score` decimal(5,2) DEFAULT NULL,
  `remarks` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_cl_submission` (`submission_id`),
  KEY `fk_cl_employee` (`employee_id`),
  KEY `fk_cl_supervisor` (`supervisor_id`),
  KEY `fk_cl_competency` (`competency_id`),
  CONSTRAINT `fk_cl_competency` FOREIGN KEY (`competency_id`) REFERENCES `competencies` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_cl_employee` FOREIGN KEY (`employee_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_cl_submission` FOREIGN KEY (`submission_id`) REFERENCES `cl_submissions` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_cl_supervisor` FOREIGN KEY (`supervisor_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `competency_leveling`
--

LOCK TABLES `competency_leveling` WRITE;
/*!40000 ALTER TABLE `competency_leveling` DISABLE KEYS */;
/*!40000 ALTER TABLE `competency_leveling` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `competency_leveling_attachments`
--

DROP TABLE IF EXISTS `competency_leveling_attachments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `competency_leveling_attachments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `leveling_id` int NOT NULL,
  `file_url` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `file_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `file_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `uploaded_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_cl_attach_leveling` (`leveling_id`),
  CONSTRAINT `fk_cl_attach_leveling` FOREIGN KEY (`leveling_id`) REFERENCES `competency_leveling` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `competency_leveling_attachments`
--

LOCK TABLES `competency_leveling_attachments` WRITE;
/*!40000 ALTER TABLE `competency_leveling_attachments` DISABLE KEYS */;
/*!40000 ALTER TABLE `competency_leveling_attachments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `competency_workflow_steps`
--

DROP TABLE IF EXISTS `competency_workflow_steps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `competency_workflow_steps` (
  `id` int NOT NULL AUTO_INCREMENT,
  `leveling_id` int NOT NULL,
  `step_order` int DEFAULT NULL,
  `role` enum('Supervisor','AM','Manager','Employee','HR') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `approver_id` int DEFAULT NULL,
  `status` enum('Pending','Approved','Rejected') COLLATE utf8mb4_unicode_ci DEFAULT 'Pending',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_cw_steps_leveling` (`leveling_id`),
  KEY `fk_cw_steps_approver` (`approver_id`),
  CONSTRAINT `fk_cw_steps_approver` FOREIGN KEY (`approver_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_cw_steps_leveling` FOREIGN KEY (`leveling_id`) REFERENCES `competency_leveling` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `competency_workflow_steps`
--

LOCK TABLES `competency_workflow_steps` WRITE;
/*!40000 ALTER TABLE `competency_workflow_steps` DISABLE KEYS */;
/*!40000 ALTER TABLE `competency_workflow_steps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `competency_workflow_templates`
--

DROP TABLE IF EXISTS `competency_workflow_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `competency_workflow_templates` (
  `id` int NOT NULL AUTO_INCREMENT,
  `department_id` int DEFAULT NULL,
  `position_id` int DEFAULT NULL,
  `step_order` int DEFAULT NULL,
  `role` enum('Supervisor','AM','Manager','HR') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_cw_templates_department` (`department_id`),
  KEY `fk_cw_templates_position` (`position_id`),
  CONSTRAINT `fk_cw_templates_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_cw_templates_position` FOREIGN KEY (`position_id`) REFERENCES `positions` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `competency_workflow_templates`
--

LOCK TABLES `competency_workflow_templates` WRITE;
/*!40000 ALTER TABLE `competency_workflow_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `competency_workflow_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cycles`
--

DROP TABLE IF EXISTS `cycles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cycles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `type` enum('CL','IDP','BOTH') DEFAULT 'BOTH',
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cycles`
--

LOCK TABLES `cycles` WRITE;
/*!40000 ALTER TABLE `cycles` DISABLE KEYS */;
INSERT INTO `cycles` VALUES (1,'Default Annual Cycle','CL','2025-01-01','2025-12-31',1,'2025-12-08 20:12:51','2025-12-08 20:12:51');
/*!40000 ALTER TABLE `cycles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `department_competencies`
--

DROP TABLE IF EXISTS `department_competencies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `department_competencies` (
  `id` int NOT NULL AUTO_INCREMENT,
  `department_id` int NOT NULL,
  `competency_id` int NOT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_dept_comp_department` (`department_id`),
  KEY `fk_dept_comp_competency` (`competency_id`),
  CONSTRAINT `fk_dept_comp_competency` FOREIGN KEY (`competency_id`) REFERENCES `competencies` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_dept_comp_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `department_competencies`
--

LOCK TABLES `department_competencies` WRITE;
/*!40000 ALTER TABLE `department_competencies` DISABLE KEYS */;
/*!40000 ALTER TABLE `department_competencies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `has_am` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
INSERT INTO `departments` VALUES (1,'Human Resources','Human Resources',0,'2025-12-08 09:00:06',NULL),(2,'Information Technology','Information Technology',0,'2025-12-08 09:00:06',NULL);
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equimetrics_integration`
--

DROP TABLE IF EXISTS `equimetrics_integration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equimetrics_integration` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` int NOT NULL,
  `competency_score` decimal(5,2) DEFAULT NULL,
  `idp_score` decimal(5,2) DEFAULT NULL,
  `total_score` decimal(5,2) DEFAULT NULL,
  `synced_at` datetime DEFAULT NULL,
  `status` enum('Pending','Synced','Error') COLLATE utf8mb4_unicode_ci DEFAULT 'Pending',
  `error_details` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `fk_equimetrics_employee` (`employee_id`),
  CONSTRAINT `fk_equimetrics_employee` FOREIGN KEY (`employee_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equimetrics_integration`
--

LOCK TABLES `equimetrics_integration` WRITE;
/*!40000 ALTER TABLE `equimetrics_integration` DISABLE KEYS */;
/*!40000 ALTER TABLE `equimetrics_integration` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `idp`
--

DROP TABLE IF EXISTS `idp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `idp` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` int NOT NULL,
  `supervisor_id` int NOT NULL,
  `competency_id` int NOT NULL,
  `development_activity` text COLLATE utf8mb4_unicode_ci,
  `target_level` int DEFAULT NULL,
  `type` enum('Education','Experience','Exposure') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('Pending','In Progress','Completed','Validated','Rejected') COLLATE utf8mb4_unicode_ci DEFAULT 'Pending',
  `certificate_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `max_level_increment` int NOT NULL DEFAULT '1',
  `score` int DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_idp_employee` (`employee_id`),
  KEY `fk_idp_supervisor` (`supervisor_id`),
  KEY `fk_idp_competency` (`competency_id`),
  CONSTRAINT `fk_idp_competency` FOREIGN KEY (`competency_id`) REFERENCES `competencies` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_idp_employee` FOREIGN KEY (`employee_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_idp_supervisor` FOREIGN KEY (`supervisor_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `idp`
--

LOCK TABLES `idp` WRITE;
/*!40000 ALTER TABLE `idp` DISABLE KEYS */;
/*!40000 ALTER TABLE `idp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `idp_approvals`
--

DROP TABLE IF EXISTS `idp_approvals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `idp_approvals` (
  `id` int NOT NULL AUTO_INCREMENT,
  `idp_id` int NOT NULL,
  `approver_id` int NOT NULL,
  `role` enum('Supervisor','AM','Manager','Employee','HR') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` enum('Approved','Rejected','Pending') COLLATE utf8mb4_unicode_ci DEFAULT 'Pending',
  `remarks` text COLLATE utf8mb4_unicode_ci,
  `approved_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_idp_approvals_idp` (`idp_id`),
  KEY `fk_idp_approvals_approver` (`approver_id`),
  CONSTRAINT `fk_idp_approvals_approver` FOREIGN KEY (`approver_id`) REFERENCES `users` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_idp_approvals_idp` FOREIGN KEY (`idp_id`) REFERENCES `idp` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `idp_approvals`
--

LOCK TABLES `idp_approvals` WRITE;
/*!40000 ALTER TABLE `idp_approvals` DISABLE KEYS */;
/*!40000 ALTER TABLE `idp_approvals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `idp_headers`
--

DROP TABLE IF EXISTS `idp_headers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `idp_headers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` int NOT NULL,
  `supervisor_id` int NOT NULL,
  `cycle_id` int NOT NULL,
  `status` enum('DRAFT','SUBMITTED','APPROVED','IN_PROGRESS','COMPLETED') DEFAULT 'DRAFT',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `employee_id` (`employee_id`),
  KEY `cycle_id` (`cycle_id`),
  KEY `supervisor_id` (`supervisor_id`),
  KEY `status` (`status`),
  CONSTRAINT `idp_headers_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `users` (`id`),
  CONSTRAINT `idp_headers_ibfk_2` FOREIGN KEY (`supervisor_id`) REFERENCES `users` (`id`),
  CONSTRAINT `idp_headers_ibfk_3` FOREIGN KEY (`cycle_id`) REFERENCES `cycles` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `idp_headers`
--

LOCK TABLES `idp_headers` WRITE;
/*!40000 ALTER TABLE `idp_headers` DISABLE KEYS */;
/*!40000 ALTER TABLE `idp_headers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `idp_items`
--

DROP TABLE IF EXISTS `idp_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `idp_items` (
  `id` int NOT NULL AUTO_INCREMENT,
  `idp_header_id` int NOT NULL,
  `competency_id` int NOT NULL,
  `target_level` int DEFAULT NULL,
  `development_action` text,
  `timeline_months` int DEFAULT NULL,
  `status` enum('PLANNED','IN_PROGRESS','COMPLETED') DEFAULT 'PLANNED',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idp_header_id` (`idp_header_id`),
  KEY `competency_id` (`competency_id`),
  CONSTRAINT `idp_items_ibfk_1` FOREIGN KEY (`idp_header_id`) REFERENCES `idp_headers` (`id`) ON DELETE CASCADE,
  CONSTRAINT `idp_items_ibfk_2` FOREIGN KEY (`competency_id`) REFERENCES `competencies` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `idp_items`
--

LOCK TABLES `idp_items` WRITE;
/*!40000 ALTER TABLE `idp_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `idp_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `recipient_id` int NOT NULL,
  `message` text COLLATE utf8mb4_unicode_ci,
  `module` enum('Competency Leveling','IDP','General') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('Unread','Read') COLLATE utf8mb4_unicode_ci DEFAULT 'Unread',
  `read_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_notifications_recipient` (`recipient_id`),
  CONSTRAINT `fk_notifications_recipient` FOREIGN KEY (`recipient_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `position_competencies`
--

DROP TABLE IF EXISTS `position_competencies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `position_competencies` (
  `id` int NOT NULL AUTO_INCREMENT,
  `position_id` int NOT NULL,
  `competency_id` int NOT NULL,
  `required_level` int DEFAULT NULL,
  `max_level_increment` int NOT NULL DEFAULT '1',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_pos_comp_position` (`position_id`),
  KEY `fk_pos_comp_competency` (`competency_id`),
  CONSTRAINT `fk_pos_comp_competency` FOREIGN KEY (`competency_id`) REFERENCES `competencies` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_pos_comp_position` FOREIGN KEY (`position_id`) REFERENCES `positions` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `position_competencies`
--

LOCK TABLES `position_competencies` WRITE;
/*!40000 ALTER TABLE `position_competencies` DISABLE KEYS */;
/*!40000 ALTER TABLE `position_competencies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `positions`
--

DROP TABLE IF EXISTS `positions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `positions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `department_id` int NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `title` (`title`),
  KEY `fk_positions_department` (`department_id`),
  CONSTRAINT `fk_positions_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `positions`
--

LOCK TABLES `positions` WRITE;
/*!40000 ALTER TABLE `positions` DISABLE KEYS */;
INSERT INTO `positions` VALUES (1,'L1 - IT Engineer','Level 1 IT Engineer',2,1,'2025-12-08 09:05:09',NULL),(2,'L1 - Dialer Administrator','Level 1 Dialer Administrator',2,1,'2025-12-08 09:05:09',NULL),(3,'IT Supervisor','IT Supervisor',2,1,'2025-12-08 09:05:09',NULL),(4,'IT Head','Head of IT',2,1,'2025-12-08 09:05:09',NULL),(5,'Jr. HR Officer','Junior Human Resources Officer',1,1,'2025-12-08 09:28:29',NULL),(6,'HR Manager','Human Resources Manager',1,1,'2025-12-08 09:28:29',NULL);
/*!40000 ALTER TABLE `positions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recent_actions`
--

DROP TABLE IF EXISTS `recent_actions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recent_actions` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `actor_id` bigint NOT NULL,
  `module` varchar(50) NOT NULL DEFAULT 'CL',
  `action_type` varchar(50) NOT NULL,
  `cl_id` bigint DEFAULT NULL,
  `employee_id` bigint DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `description` varchar(500) DEFAULT NULL,
  `url` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_actor_created` (`actor_id`,`created_at`),
  KEY `idx_employee_created` (`employee_id`,`created_at`),
  KEY `idx_cl_created` (`cl_id`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recent_actions`
--

LOCK TABLES `recent_actions` WRITE;
/*!40000 ALTER TABLE `recent_actions` DISABLE KEYS */;
INSERT INTO `recent_actions` VALUES (1,3,'CL','CL_SUBMITTED',62,11,'Created form for Joshua Gars','CL #62','/cl/supervisor/review/62','2025-12-12 07:15:03'),(2,3,'CL','CL_RESUBMITTED',62,11,'Resubmitted form for Joshua Gars','CL #62','/cl/supervisor/review/62','2025-12-12 07:15:49');
/*!40000 ALTER TABLE `recent_actions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `position_id` int NOT NULL,
  `department_id` int NOT NULL,
  `role` enum('Employee','Supervisor','AM','Manager','HR','Admin') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `employee_id` (`employee_id`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_users_position` (`position_id`),
  KEY `fk_users_department` (`department_id`),
  CONSTRAINT `fk_users_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_users_position` FOREIGN KEY (`position_id`) REFERENCES `positions` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'futura'
--

--
-- Dumping routines for database 'futura'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-12  7:25:27
